.projects {
  background-color: var(--bg-color);
  color: var(--accent-color);
  margin-top: -30px;
  padding: 60px;
  border-radius: 4px;
}
.projects-card {
  padding: 60px;
}
.projects-card img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.projects-card ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.projects-card ul li {
  cursor: pointer;
  position: relative;
  padding: 10px;
  display: grid;
  gap: 30px;
  text-align: center;
  /* max-width: 300px; */
  height: max-content;
  align-content: center;
  background-color: #222;
  border-radius: 4px;
}
.projects-card ul p {
  text-align: initial;
}
.projects-card ul li i {
  font-size: 2rem;
}

@media (max-width: 992px) {
  .projects-card ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .projects-card ul {
    grid-template-columns: 1fr;
  }
}
