img {
  max-width: 100%;
  display: block;
}

.projects-card {
  padding: 10px;
}

.projects-card img {
  max-width: 100%;
  object-fit: cover;
  object-position: top;
  margin: 0.8rem 0;
}
.projects-card ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.projects-card ul li {
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: #222;
  background-color: #000;

  border-radius: 4px;
  border: 2px solid rgb(182, 182, 182);
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.projects-card li::before {
  content: "";
  border-radius: 4px;
  width: 0;
  height: 0;
  position: absolute;
  top: -2px;
  right: -2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: 0.5s ease-in-out;
}
.projects-card li::after {
  content: "";
  border-radius: 4px;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  transition: 0.5s ease-in-out;
}
.projects-card li:hover::before {
  width: 100%;
  height: 100%;
  border-top: 2px solid var(--highlight-color);
  border-right: 2px solid var(--highlight-color);
}
.projects-card li:hover::after {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--highlight-color);
  border-left: 2px solid var(--highlight-color);
}

#janelaModal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.9);
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgb(255, 255, 255);
}

#btnFechar {
  cursor: pointer;
  margin-bottom: 12px;
  position: absolute;
  top: 25px;
  right: 55px;
  color: var(--highlight-color);
}

#btnFechar .line::after,
#btnFechar .line::before {
  content: "";
  display: block;
  width: 50px;
  height: 6px;
  background: currentColor;
  margin-top: 10px;
  transition: 0.6s;
  position: relative;
  border-radius: 5px;
  animation: btnColor 1.6s infinite;
}
#btnFechar .line::before {
  transform: rotate(135deg);
}
#btnFechar .line::after {
  transform: rotate(-135deg);
  top: -15px;
}
#btnFechar .line:hover::before,
#btnFechar .line:hover::after {
  animation: btnColor 2s infinite;
  background-color: #bf0a0d;
}
#btnFechar .line:hover::before {
  transform: rotate(320deg);
}
#btnFechar .line:hover::after {
  transform: rotate(-320deg);
  top: -15px;
}
@keyframes btnColor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-modal {
  display: flex;
  gap: 10px;
  margin-top: -100px;
}
.imagModal {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
  margin-top: 1rem;
  margin-top: -100px;
}
.textoModal {
  flex: 1 1 800px;
  border: 2px solid var(--accent-color);
  width: 100%;
  max-width: 700px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  align-content: start;
  background-color: #222;
  width: max-content;
  height: max-content;
  position: relative;
  padding: 20px;
}
.textoModal .estudos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  margin-top: 1rem;
}
.textoModal p {
  border-radius: 5px;
  width: max-content;
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: var(--accent-color);
  padding: 5px 10px;
  border: 2px solid transparent;
}

.textoModal p:hover {
  background-color: #393939;
  border: 2px solid var(--highlight-color);
}

.textoModal i {
  font-size: 1.5rem;
}

.linkModal {
  background-color: var(--highlight-color);
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 10px;
  display: inline-block;
  width: max-content;
  align-self: center;
  margin-top: 1rem;
}
.linkModal:hover {
  background-color: #5c14b3;
}

.tec {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 1rem;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.tec.visible {
  opacity: 1;
  color: var(--highlight-color);
}

.modalHide {
  display: none;
}
@media (max-width: 1000px) {
  #janelaModal {
    flex-direction: column;
  }
  .textoModal {
    width: calc(100% - 100px);
    max-height: 350px;
    overflow-x: scroll;
    display: grid;
    flex-direction: column;
  }
  .imagModal {
    width: 90%;
  }
}

@media (max-width: 580px) {
  .container-modal {
    width: calc(100% - 10px);
    justify-content: center;
    align-items: center;
  }
  .imagModal {
    width: calc(100% - 40px);
  }
  .textoModal {
    width: calc(100% - 40px);
    padding: 20px;
    overflow-x: hidden;
  }
  .textoModal::-webkit-scrollbar {
    width: 18px;
  }
  .textoModal::-webkit-scrollbar-thumb {
    background: var(--highlight-color);
    border-left: 4px solid var(--bg-color);
    border-right: 4px solid var(--bg-color);
    border-radius: 7px;
  }
  .textoModal::-webkit-scrollbar-track {
    background: var(--bg-color);
  }
}
@media (max-width: 470px) {
  #janelaModal {
    background-color: rgba(19, 19, 19, 0.9);
  }
  .textoModal {
    max-height: 200px;
  }
  .height {
    max-height: 323px;
  }
  .textoModal .estudos {
    display: none;
  }
}
