footer {
  color: var(--accent-color);
  gap: 20px;
}
.footer-container {
  padding: 120px 20px 60px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  line-height: 1;
  max-width: 550px;
}
.footer-contato li {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.1;
  color: var(--white-color);
  margin-bottom: 30px;
}
.footer-contato li:hover {
  color: var(--highlight-color);
}
.copy {
  margin-top: 4rem;
  grid-column: 1/-1;
  text-align: center;
}
@media (max-width: 951px) {
  .footer-container {
    padding: 120px 20px 60px 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 20px;
  }
}
