:root{
   --primary-color: #000;
   --secondary-color: #fff;
   --tertiary-color: #f7f7f7;
   --highlight-color: #711CDB;
}

.primary-color{
   color: var(--primary-color);
}
.secondary-color{
   color: var(--secondary-color);
}
.tertiary-color{
   color: var(--tertiary-color);
}