:root{
   --primary-color: #000;
   --secondary-color: #fff;
   --tertiary-color: #f7f7f7;
   --accent-color: #707070;
   --highlight-color: #711CDB;
   --bg-color: #111;
}
.accent-color{
   color: var(--accent-color);
}
.primary-color{
   color: var(--primary-color);
}
.secondary-color{
   color: var(--secondary-color);
}
.tertiary-color{
   color: var(--tertiary-color);
}